<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
<style >
	body{
		background: url('https://static.vecteezy.com/system/resources/premium_previews/000/056/827/non_2x/spring-leaves-vector-background.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
</head>
</html>
<body>
	<br><br>
	<center>
		<h1 style="color: #286d05">WELCOME TO HOME PAGE</h1>
	
<br/>
<a href="{% url 'LoginPortal:login' %}" ><img src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_exit2-128.png" height="30" width="30"></a><p style="color: #0f110e">CLICK HERE TO LOGIN</p>
<br><br>
<a href="{% url 'LoginPortal:register' %}"><img src="https://cdn0.iconfinder.com/data/icons/communication-technology/500/list-128.png" height="40" width="40"></a><p style="color: #0f110e">CLICK HERE TO REGISTER</p>
</center>
</body>